* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 8px;
    background-color: bisque;
    border: 2px solid black;
    text-align: center;
    color: chocolate;
}

h2 {
    text-align: center;
}

li {
    margin: 8px 0;
}

.recipe-link-list {
    display: block;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 12px;
    border: 2px solid cornflowerblue;
    background-color: rgb(167, 200, 243);
    color: black;
    font-size: 18px;
}

.content-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.description-container {
    flex-basis: 350px;
    flex-shrink: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 12px 12px 12px;
    border: 2px solid black;
    background-color: beige;
    justify-items: center;
}

.description-container img {
    height: 300px;
    border: 2px solid chocolate;
    align-self: center;
}

.ingredients-container {
    flex-shrink: 1;
    flex-basis: 350px;
    padding: 0 12px 12px 0;
    border: 2px solid black;
    background-color: beige;
}

.steps-container {
    flex-shrink: 1;
    flex-basis: 350px;
    padding: 0 12px 12px 0;
    border: 2px solid black;
    background-color: beige;
}

.source-text {
    color: gray;
    text-align: center;
}