.page-header {
    font-family: Arial, Helvetica, sans-serif;
}

.recipe-link-list {
    background-color: aquamarine;
    color: black;
    font-size: 18px;
}

h2 {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

/* Consider using page-header */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}